.avatar {
  margin: 0 auto;
  height: 25% !important;
  width: 25% !important;
  box-shadow: 1px 1px 5px gray;
  padding: 10px;
}

.name {
  text-align: center;
}

.card {
  padding-top: 10px;
  margin-top: 20px;
}