.form {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}
  
.button {
  display: block !important;
  margin: 5px auto !important;
}

.textField {
  display: block;
}

.pokemonList {
  margin-top: 50px;
}